/* const blue = rgba(8,	46,	126,	1)
const yellow = rgba(247,	200,	40,	1)
const red =  rgba(219,	29,	19,	1)
TAN = rgba(227,197,163,1)
rgba(248,	240,	222,	1)
grey rgba(130,	127,	123,	1)
another tan rgba(232,	214,	177,	1)
*/

/* font-family: 'Raleway', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Baumans', cursive; */


  html {
    background-color: rgba(232,	214,	177,	1);
  }

/* .body {
  background-color: rgba(247,241,225,1);
  /* display: grid; */
  /* margin: 0 auto;
  display: grid;
  max-width: 60%;
  padding: 6rem; */
/* }  */
/*
.NavBar{
  display: block;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
} */



a {
  text-decoration: none;
  color: black;
}


.cardsContainer {
margin: 0 auto;
display: grid;
grid-auto-rows: auto;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 2rem;
max-width: 80%;
padding: 2rem;
}

 .card a:hover {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.card {
background-color: rgba(130,	127, 123, .8);
border-radius: 10px;
padding: 1em;
}

.card a {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-decoration: none;
}



.card p {
  color: rgba(130,	127,	123,	.1);
  font-family: 'Raleway', sans-serif;
}

.card:hover p {
  color: black;
  transition: 1s ease-in-out;
}


.wide-input {
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
}

/* .mean-button {
  // @include button;
  &:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, .75);
    border: 1px solid rgba(255, 0, 0, 1);
  }
} */

.login-signup-form {
  margin: 10% auto;
  border: 1px solid #ccc;
  text-align: center;
  width: 200px;
  padding: 10px 30px 50px;
  transition: .5s ease-in-out;
  &>h1{
    transition: .5s ease-in-out;
  }
  &>input {
    margin-bottom: 20px;
    padding: 5px;
  }
  &:hover {
    border: 1px solid black;
  }
  &>h1:hover {
    color: black;
  }
}

/* Style the navigation bar */
.navbar {
  /* margin-left: 6rem; */
  align-items: center;
  width: 100%;
  background-color: rgba(232,	214,	177,	1);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;

}

 .navbar .banner {
  font-family: 'Baumans', cursive;
  font-weight: 600;
  font-size: 300%;
}

/* Navbar links */
/* .navbar a { */
  /* float: left; */

  /* text-align: center; */
  /* padding: 12px; */
  /* color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
/* .navbar a:hover {
  background-color: #000;
} */

/* Current/active navbar link */
/* .active {
  background-color: #4CAF50;
} */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
 /*@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}*/


.sidenav {
  height: 100%;
  /* width: 15rem; */
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa {
  font-size: 200%
}

.fa:hover {
  cursor: pointer;
}
